@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.login{
    height: 100vh;
    background-color: #ede0d4;

    &__title{
        text-align: center;
        padding-top: 15rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem auto;
        width: 80%;
    }

    &__nameLabel{
        margin-bottom: 0.5rem;
    }

    &__emailLabel{
        margin: 0.5rem 0;
    }

    &__passwordLabel{
        margin: 0.5rem 0;
    }

    &__button{
        width: 5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        border: none;
        border-radius: 1rem;
        background-color: #a4ac86;
    }
}