@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.workoutlist{
    &__day{
        width: 7rem;
        display: flex;
        margin: 1rem auto;
    }

    &__image{
        width: 7rem;
    }

    &__link{
        display: flex;
        width: 7rem;
        margin: 0 auto;
    }
}
