@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.workoutlist{
    height: 160vh;
    background-color: #f5ebe0;

    @include tablet{
        height: 89.9vh;
    }

    &__title{
        padding: 1rem 0 0 1rem;
        text-align: center;
    @include tablet{    
        font-size: 2rem;
        padding: 3rem 0 0 1rem;
    }    
    }

    &__container{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;
        width: 90%;
        margin: 0 auto;
    }
    @include desktop{
        width: 70%;
    }
    }

    &__day{
        width: 7rem;
        display: flex;
        margin: 1rem auto;
    }

    &__image{
        width: 8rem;
        height: 9rem;
    }

    &__link{
        display: flex;
        width: 7rem;
        margin: 0 auto;
        text-decoration: none;

        @include tablet{
            height: 12rem;
            width: 12rem;
        }
    }

    &__day{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__date{
        text-align: center;
        font-size: 1.5rem;
        color: black;
        font-weight: 600;
    }
}
