@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.monday{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;

    &__item{
        border: 1px solid black;
        list-style: none;
        padding: 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
    }

    &__image{
        display: flex;
        margin: 1rem auto;
        width: 8rem;
    }

    &__title{
        // display: flex;
        margin: 0.5rem auto;
        text-align: center;
    }

    &__muscle{
        text-align: center;
        margin: 0;
    }

    &__difficulty{
        text-align: center;
        margin: 0.5rem auto;
    }
}