@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.workout-card{
    display: flex;
    flex-direction: column;
    border: 1px solid  #a4ac86;
    border-radius: 0.25rem;
    width: 100%;
    margin: 0.5rem auto;
    background-color: white;

    @include desktop{
        width: 100%;
    }

    &__link {
        text-decoration: none;
        color: black;
        display: flex;
        width: 70%;
        height: fit-content;
        margin: 0rem auto;

        @include desktop{
            width: 80%;
            height: 18rem;
        }
    }
    
    &__image{
        display: flex;
        margin: 1rem auto;
        width: 8rem;
    }

    &__name{
        padding: 0 1rem;
        text-align: center;
        margin: 0 0 .5rem 0;
    }

    &__muscle{
        text-align: center;
        margin: 0 0 0.5rem 0;
    }
}


