@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.profile-header{
    border-bottom: 0.3rem double black;
    background-color: #a4ac86;
    font-family: 'Julius';

    &__name {
        color: black;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        padding-top: 1rem;

        @include tablet{
            font-size: 2.5rem;
        }
    }

    &__navbar a {
        text-decoration: none;
    }

    &__routes{
        display: flex;
        justify-content: space-evenly;
    }
    &__routes a{
        text-decoration: none;
        color: black;
    }

    &__button{
        height: 2rem;
        display: flex;
        align-items: center;
        border: none;
        background-color: #a4ac86;
        font-weight: bold;

        @include tablet{
            font-size: 1rem;
        }
    }
}