.workoutDetail{
    height: 100vh;
    background-color: #f5ebe0;

    &__arrow-icon{
        display: flex;
        align-items: flex-start;
        padding: 1rem 0;
    }

    &__page{
        padding: 0 1rem;
    }
    
    &__img{
        display: flex;
        margin: 0 auto;
        width: 14rem;
    }

    &__title{
        padding-top: 2rem;
        text-align: center;
    }

    &__muscle, &__muscleText, &__difficulty, &__diffText, &__descTitle, &__description{
        text-align: center;
    }

    &__aDay{
        text-align: center;
        padding-top: 2rem;
    }

    &__dropdown{
        border-radius: 0.25rem;
        display: flex;
        margin: 0 auto;
    }

    &__button{
        width: 9rem;
        height: 2rem;
        border-radius: 1rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        background-color: #a4ac86;
    }
}