.workoutDetail{
    &__arrow-icon{
        display: flex;
        align-items: flex-start;
    }
    
    &__img{
        display: flex;
        margin: 0 auto;
        width: 14rem;
    }

    &__button{
        width: 9rem;
        height: 2rem;
        border-radius: 1rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;

    }
}