@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.signup{
    height: 100vh;
    background-color: #f5ebe0;

    &__title{
        text-align: center;
        padding-top: 15rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem auto;
        width: 80%;
    }

    &__nameLabel{
        margin-bottom: 0.5rem;
        font-weight: 600;
    }

    &__emailLabel{
        margin: 0.5rem 0;
        font-weight: 600;
    }

    &__passwordLabel{
        margin: 0.5rem 0;
        font-weight: 600;
    }

    &__nameInput{
        border-radius: 0.25rem;
        border: 1px solid #a4ac86;
    }

    &__emailInput{
        border-radius: 0.25rem;
        border: 1px solid #a4ac86;
    }

    &__passwordInput{
        border-radius: 0.25rem;
        border: 1px solid #a4ac86;
    }

    &__button{
        width: 5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        border: none;
        border-radius: 1rem;
        background-color: #a4ac86;
    }
}